@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #308dcb, #7c13c8);
}

.container {
    max-width: 700px;
    height: 90vh;
    width: 100%;
    background: rgb(225, 227, 229);
    padding: 25px 30px;
    border-radius: 10px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
    box-shadow: inset -3px -3px 7px #417fb573,inset 3px 3px 5px rgba(46, 51, 55, 0.288);
}

.container .title {
    font-size: 30px;
    font-weight: 700;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    background: linear-gradient(135deg, #2a9fed, #ec36e9);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(152, 191, 218);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 5px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #73049f;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: inline-flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-around;
}

.gender-details .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #adacaf;
    border-radius: 50%;
    margin-right: 10px;
    border: 7px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: #535062;
    background: #8b2cb1;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button a {
    height: 200px;
    width: 300px;
    outline: none;
    color: rgb(250, 245, 245);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #52aeea, #b63ae8);
    margin-left: 40%;
    text-decoration: none;
    padding: 15px;
}

form .button a:hover {
    background: linear-gradient(-135deg, #52aeea, #b63ae8);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}










